################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Algoritmus/.vs/Algoritmus/FileContentIndex/e1323a67-f519-470e-aa2d-74c1754ea5ca.vsidx
