################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Algoritmus/.vs/Algoritmus/FileContentIndex/e1323a67-f519-470e-aa2d-74c1754ea5ca.vsidx
/Algoritmus/.vs/Algoritmus/FileContentIndex/f0e22561-118b-4927-b270-eea3f0352d54.vsidx
